/* Home Page Styles */
.home {
  padding-top: 80px;
  justify-content: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-size: cover;
  background-color: #133A1F;
  background-position: center;
  color: #e0e0e0;
  text-align: center;
}

img{
  width:122px ;
  height: 122px;
  border-radius: 30px;
  margin-bottom: 50px;
}

.heading{
  font-size: 30px;
  font-family: League Spartan;
}

hr{
  width: 300px;
  margin-bottom: 20px;
  align-items: center;
}

h2{
  font-size: 20px;
  font-family: League Spartan;
  font-weight: normal;
  margin-bottom: 10px;
}

.title {
  font-size: 26px;
  font-family: League Spartan;
  margin-top: 50px;
}

.home .buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  gap: 2rem;
}

.home .buttons button {
  width: 700px;
  height: 70px;
  font-size: 16px;
  border-radius: 30px;
  background-color: #205631;
  color: #fff;
  transition: background-color 0.3s ease;
}

.home .buttons button:hover {
  background-color: #408243;
}
