@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'League Spartan', sans-serif;
  width: 100%;
  background: #133a1f;
}

.container {
  height: 100vh;
  background: #133a1f;
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Background Image */

.background-img {
  width: 100%;
  height: 100vh;
  position: absolute;
}

/* App Icon */

.app-icon {
  width: 64px;
  height: 64px;
}

/* Title */

.title {
  text-align: center;
  color: rgba(255, 255, 248, 0.82);
  font-size: 17px;
  font-weight: 800;
  line-height: 22px;
}

/* Underline */

.underline {
  width: 185px;
  transform: rotate(0deg);
  transform-origin: top left;
  outline: 1px solid white;
  outline-offset: -0.5px;
}

/* Main Card */

.main-card {
  width: 80%;
  height: 60vh;
  position: absolute;
  top: 250px;
  background: rgba(255, 255, 248, 0.82);
  border: 1px solid #236738;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Section Label */

.section-label {
  /*width: 114px;*/
  position: relative;
  top: 35px;
  text-align: center;
  color: black;
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
}

/* Input & Output Buttons */

.input-button {
  top: 316px;
  /*left: 98px;*/
}

.output-button {
  top: 465px;
  /*left: 96px;*/
}

/* Labels */

.label-type {
  position: absolute;
  top: 15vh;
  text-align: center;
  color: black;
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  display: flex;
  justify-content: center;
}

.label-translated {
  position: absolute;
  top: 28vh;
  /*left: 157px;*/
  text-align: center;
  color: black;
  font-size: 13px;
  font-weight: 700;
  line-height: 22px;
}

.label-placeholder {
  position: absolute;
  top: 35vh;
  /*left: 105px;*/
  text-align: center;
  color: black;
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  display: flex;
  justify-content: center;
}

/* Submit Button */

.submit-button {
  width: 6rem;
  height: 59px;
  position: absolute;
  top: 45vh;
  background: #236738;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-button {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-outline {
  width: 50%;
  height: 80%;
  position: relative;
  background-image: url("../assets/images/Volume 2.svg");
  background-repeat: no-repeat;
    background-position: center center;
}

/* Language Badge */

.language-badge {
  position: absolute;
  top: 15px;
  right: 3px;
}

.language-text {
  position: absolute;
  text-align: center;
  color: white;
  font-size: 10px;
  font-weight: 700;
  line-height: 22px;
}

.button_cevron {
  width: 6rem;
  height: 25px;
  background: url("../images/v9_102.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  right: 2vw;
  overflow: hidden;
}

.lang-drop{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25px;
  background: rgba(35,103,56,1);
  opacity: 1;
  position: relative;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.lang_dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25px;
  background: rgba(35,103,56,1);
  opacity: 1;
  position: relative;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}

/* Arrow */

.arrow-container {
  width: 13px;
  height: 17px;
  position: absolute;
  top: 206px;
  /*left: 274px;*/
  opacity: 0.32;
  overflow: hidden;
}

.arrow-outline {
  width: 6.5px;
  height: 4.25px;
  position: absolute;
  top: 6.38px;
  left: 3.25px;
  outline: 2px solid white;
  outline-offset: -1px;
}

/* translate text */

select, textarea, button {
  font-family: inherit;
  font-size: 1rem;
}

.language-selector {
  margin: -4rem 0;
   position: relative; /* ensures visibility inside absolute contexts */
  z-index: 10; 
  
}

textarea {
  width: 209px;
  height: 65px;
  background: white;
  border: 1px solid #236738;
  position: absolute;
  text-align: left;
  resize: none;
}
textarea::placeholder {
  color: #000000;
  opacity: 0.5;
  font-size: 17px;
  font-weight: 700;
  line-height: 15px;
}
button {
  padding: 0.5rem 1.5rem;
  background: #236738;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.header {
  width: 100%;
  height: 60px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 3rem;
}